body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#privacy-content p{
    line-height: 1.5;
}
#privacy-content li {
    margin: 10px 0;
    list-style-position: inside;
}
header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
header img {
    width: 200px;
    height: auto;
}
nav {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,.2);
}
nav a {
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 0px;
    color: #005796;
    text-decoration: none;
}
nav a:hover {
    background-color: #005796;
    color: rgb(255, 255, 255);
}
.content-wrapper {
    flex: 1;
    margin: auto;
    width: 60%;
    border: 0px solid rgb(165, 165, 165);
    padding: 20px;
}
.content-wrapper img{
    width: 350px;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
footer a{
    color: white;
}
.appstore-icon img{
    width: 192px;
    height: auto;
}

/* index fly tweety section*/

.main-content {
    display: flex;
    align-items: flex-start;
  }

  .image-container {
    flex: 0 0 256px;
    margin-right: 20px;
  }

  .text-container {
    flex: 1;
  }

  .bottom-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .bottom-image {
    flex: 0 0 calc(33.33% - 10px);
  }