body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#privacy-content p{
    line-height: 1.5;
}
#privacy-content li {
    margin: 10px 0;
    list-style-position: inside;
}
header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
header img {
    width: 200px;
    height: auto;
}
nav {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,.2);
}
nav a {
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 0 20px;
    border-radius: 0px;
    color: #005796;
    text-decoration: none;
}
nav a:hover {
    background-color: #8dbdd3;
    color: rgb(255, 255, 255);
}
.content-wrapper {
    flex: 1;
    margin: auto;
    width: 60%;
    border: 1px solid rgb(165, 165, 165);
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
footer a{
    color: white;
}